# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.stackdump

# directories
build/
work/

# outputs
*.count
*.spots
*.flat.png
*.spots.png
*.sandp.png
*.recon.png
*.count
*.spots
*.combi.png
*.bi.png
*.recon_grid.png
*.sinogram.png


# VScode stuff
*.code-workspace